.main{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    width: 900px;
    background-color: rgb(154,5,37);
    border: 10px solid chocolate;
}
.name{
    height: 200px;
    width: 200px;
    
    margin-top: 10px;
    text-align: center;    
}
.h1{
    margin-top: -20px;
}
th{
  color: chocolate; 
    
}
hr{
    margin-top: -20px;
    
}
.desert{
    width: 200px;
    height: 100px;
    float: right;
    margin-left: 50px;
    margin-top: -20px;
    
}
.desert>h1{
    text-align: center;
}
.starter{
    width: 200px;
    height: 200px;
    
}
tr{
    float: left;
}

.drink{
    width: 200px;
    height: 250px;
   
}
.drink>h1{
    text-align: center;
}
.price{
    padding-left: 40px;
    /* background-color: rgb(184, 72, 72); */
}
.delivery{
    margin-top: 15px;
    padding-left: 40px;
    float: right;
}
.delivery>h3{
    margin-top: -20px;
}